.page-node-type-article {

  .node--type-article {
    position: relative;
    padding-top: calc(110vh - #{header('desktop')});
    padding-right: padding('right', 'desktop');
    padding-bottom: 10vw;
    padding-left: padding('left', 'desktop');

    @include mq(breakpoint('mobile')) {
      padding-top: 80vw;
    }

    .block-entity-fieldnodefield-article-cover {
      margin: 0;

      .field--name-field-article-cover {
        position: absolute;
        top: 0;
        left: 0;

        img {
          @extend %header-height-calc;
          width: 100vw;

          @include mq(breakpoint('mobile')) {
            height: 70vw;
          }
        }
      }
    }

    .block-entity-fieldnodetitle {
      @extend %title;
      margin-bottom: .5vw;
    }

    .block-entity-fieldnodeuid,
    .block-entity-fieldnodecreated {
      @extend %highlight--small;
      display: inline-block;

      a {
        color: $black;
      }

      &:after {
        @include pseudo(inline-block, relative, '.');
        @extend %bold;
        vertical-align: middle;
        height: 2.2vw;
      }
    }

    .block-entity-fieldnodebody {

      .field--label-hidden {
        @extend %text--medium;
      }

      .field--label-visually_hidden {
        @extend %font-size--extra-large;
      }

      h3 {
        @extend %font-size--larger;
        @extend %text;
        margin-bottom: 20px;
        display: block;
      }

      strong {
        @extend %bold;
      }

      blockquote {
        @extend %font-size--larger;
        display: block;
        margin-left: 4vw;
        border-left: .25vw solid $black;
        padding: 0 0 0 1vw;
        font-style: italic;

        @include mq(breakpoint('mobile')) {
          border-width: 3px;
        }
      }
    }
  }
}
