.block-views-blockarticle-block-articles-highlight,
.block-views-blockarticle-block-articles-related {
  position: relative;
  min-height: 25vw;

  .contextual-region {
    position: initial;
  }

  .view-content {
    width: 100%;

    .views-view-grid {
      @extend %card--image;
      margin: auto;

      .views-row {
        display: flex;
        justify-content: space-between;

        @include mq(breakpoint('mobile')) {
          flex-flow: column;
        }

        .views-col {
          padding: 4vw 3vw 1.5vw 2vw;
          width: 32%;
          height: auto;
          min-height: 5vw;

          @include mq(breakpoint('mobile')) {
            padding: 5vw 3vw 1.5vw 5vw;
            width: 100%;
            margin-bottom: 4vw;
            min-height: 30vw;
          }
        }
      }
    }
  }

  .more-link {
    @extend %button--black;
    margin: 2.2vw 15vw 5vw 0;
    float: right;
  }
}

.block-views-blockarticle-block-articles-highlight {

  .views-view-grid {
    width: 90%;

    @include mq(breakpoint('mobile')) {
      width: 80%;
      padding: 6vw 0;
    }
  }

  .view-content {

    &:after {
      @include pseudo();
      top: 0;
      background: $yellow;
      width: 100%;
      height: 6vw;
      z-index: -2;

      @include mq(breakpoint('mobile')) {
        height: 26vw;
      }
    }
  }
}

.block-views-blockarticle-block-articles-related {
  padding-bottom: 12vw;

  h2 {
    padding-left: padding('left', 'desktop');

    &:after {
      display: none!important;
    }
  }

  .view-content {

    .views-view-grid {
      width: 82%;

      .views-row {
        justify-content: space-evenly;
      }
    }
  }

  .more-link {
    margin: 0;
    position: absolute;
    right: calc(#{padding('left', 'desktop')} + 2vw);
    bottom: 5vw;
    float: none;
  }

  &:after {
    @include pseudo();
    bottom: 0;
    background: $light-gray;
    width: 100%;
    height: 20vw;
    z-index: -2;

    @include mq(breakpoint('mobile')) {
      height: 100vw;
    }
  }
}
