.block-views-blockarticle-block-articles-list,
.view-taxonomy-term {

  @include mq-padding('right');
  @include mq-padding('left');
  padding-top: 7vw;
  padding-bottom: 5vw;
  position: relative;
  margin-top: 5vw;

  h2 {
    margin-left: 3vw;

    a {
      color: $black;
    }
  }

  .contextual-region {
    position: initial;
  }

  .view-filters {
    position: absolute;
    top: 0;
    right: padding('right', 'desktop');
    width: 15vw;

    @include mq(breakpoint('mobile')) {
      position: static;
      width: 100%;
    }

    .views-exposed-form {
      margin-bottom: 5vw;

      .form--inline {
        position: relative;

        .form-item {
          @extend %search;

          @include mq(breakpoint('mobile')) {
            float: none;
            margin: 0;
          }

          input {
            @include mq(breakpoint('mobile')) {
              padding-left: 7.5vw!important;
            }
          }
        }

        .form-actions {
          @extend %search--submit;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }

  .view-content {
    width: 100%;

    .views-view-grid {
      margin: auto;

      .views-row {
        @extend %card--text;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 1vw 0;

        @include mq(breakpoint('mobile')) {
          margin: 0;
        }

        .views-col {
          width: 32%;

          @include mq(breakpoint('mobile')) {
            width: 100%;
            margin-bottom: 40px;
          }
        }
      }
    }
  }

  .pager {

    .pager__items {

      .pager__item {

        a {
          @extend %highlight;
          @extend %bold;
          color: $gray;
        }

        &.is-active {

          a {
            color: $red;
          }
        }
      }
    }
  }
}
