.block__block_content__basic {
  @include mq-padding('bottom');
  @include mq-padding('right');
  @include mq-padding('left');
  padding-top: 2vw;

  p {
    @extend %text;
    @extend %bold;
  }

  h3 {
    @extend %subtitle;
  }

  .field--name-body {
    border-left: 3px solid $red;
    width: 25%;
    margin-top: 2.7vw;
    padding-left: 1vw;

    @include mq(breakpoint('mobile')) {
      width: 100%;
      padding-left: 4vw;
    }
  }
}

.block-entity-blocknode {
  @extend %auto-padding;

  h2 {

    a {
      color: $black;
    }
  }
}
