.block-system-branding-block {
  margin-bottom: 0!important;
  height: 5vw;

  @include mq(breakpoint('mobile')) {
    height: 12vw;
    margin: auto auto auto 0;
  }

  img {
    height: 100%;
  }

  .site-name {
    display: none;
  }
}
