%button {

  @each $color, $theme in $themes {
    $fontcolor: map-get($theme, fontcolor);
    $bgcolor: map-get($theme, bgcolor);
    $arrow: map-get($theme, arrow);

    &--#{$color} {
      background-color: $bgcolor;
      color: $fontcolor;
      width: max-content;

      display: flex;
      padding: 0.9vw;

      @include mq(breakpoint('tablet')) {
        padding: 1vw 4vw;
      }

      @include mq(breakpoint('mobile')) {
        padding: 0 2vw;
      }

      a, span {
        @extend %highlight;
        @extend %bold;
        margin: auto;
        color: $fontcolor;
        display: flex;

        @include mq(breakpoint('mobile')) {
          @extend %highlight--small;
        }

        &::after {
          @include pseudo(block, relative);
          background-repeat: no-repeat;
          width: 3vw;
          height: 1vw;
          display: inline-block;
          margin: auto .7vw;
          background-image: url('../../assets/img/action-arrow--#{$arrow}.svg');
          background-size: contain;

          @include mq(breakpoint('tablet')) {
            width: 7vw;
            height: 2vw;
          }

          @include mq(breakpoint('mobile')) {
            width: 5vw;
            height: 1.7vw;
          }
        }
      }
    }
  }
}
