%card {

  .views-col {
    position: relative;
    padding: 0 10px;

    .views-field-field-article-cover {
      position: relative;
      width: 100%;
      height: 100%;

      .field-content,
      .field-content img {
        width: 100%;
        height: 100%;
      }
    }

    .views-field-title {
      @extend %subtitle;
    }

    .views-field-field-article-category {
      @extend %highlight;
    }
  }

  &--text {
    @extend %card;

    .views-col {
      background: $white;
      position: relative;
      padding: 15vw 3vw 3vw 3vw;

      @include mq(breakpoint('mobile')) {
        padding: 45vw 6vw 10vw 5vw;
      }

      a {
        color: $black;
      }

      .views-field-field-article-cover {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 12vw;

        @include mq(breakpoint('mobile')) {
          height: 35vw;
        }

        .field-content,
        .field-content img {
          width: 100%;
          height: 100%;
        }
      }

      .views-field-title {
      }

      .views-field-body {
        @extend %text--small;
        margin-top: 1vw;

        a {
          @extend %bold;
          text-transform: uppercase;
        }
      }

      .views-field-field-article-category {
      }
    }
  }

  &--image {
    @extend %card;

    .views-col {
      height: 12vw;

      .views-field-field-article-cover {
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;

        .field-content,
        .field-content img {
          width: 100%;
          height: 100%;
        }

        &::after {
          @include pseudo;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background: -moz-linear-gradient(top, rgba(0,0,0,0) -40%, rgba(0,0,0,0.65) 100%);
          background: -webkit-linear-gradient(top, rgba(0,0,0,0) -40%,rgba(0,0,0,0.65) 100%);
          background: linear-gradient(to bottom, rgba(0,0,0,0) -40%,rgba(0,0,0,0.65) 100%);
        }
      }

      .views-field-title {
      }

      .views-field-field-article-category {
      }
    }
  }
}
