.block-views-blockarticle-block-articles-carousel {
  @extend %header-height-calc;
  color: $white;

  @include mq(breakpoint('mobile')) {
    height: 80vw;
  }

  .views-field-field-article-cover {
    @extend %header-height-calc;
    width: 100%;

    @include mq(breakpoint('mobile')) {
      height: 80vw;
    }

    .field-content,
    img {
      height: 100%;
      width: 100%;
    }

    &::after {
      @include pseudo;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: -moz-linear-gradient(top, rgba(0,0,0,0) -40%, rgba(0,0,0,0.65) 100%);
      background: -webkit-linear-gradient(top, rgba(0,0,0,0) -40%,rgba(0,0,0,0.65) 100%);
      background: linear-gradient(to bottom, rgba(0,0,0,0) -40%,rgba(0,0,0,0.65) 100%);
    }
  }

  .carousel-content {
    position: absolute;
    top: 0;
    left: padding('left', 'desktop');
    max-width: 70%;
    bottom: 0;
    display: flex;

    @include mq(breakpoint('mobile')) {
      // top: 40%;
    }

    a {
      margin: auto;

      &:hover {
        color: inherit;
        font-size: inherit;
        font-family: inherit;
      }
    }

    .content-date {
      @extend %highlight;
    }

    .content-title {
      @extend %title--light;
      margin: 1vw 0;
      color: $white;
    }

    .content-action {
      @extend %button--yellow;

      @include mq(breakpoint('mobile')) {
        margin-top: 4vw;
      }
    }
  }

  .slick__arrow {

    .slick-arrow {
      @include image('arrow-slider.svg');
      background-size: 100%;
      height: 4vw;
      width: 3vw;
      background-position: center;
      border-radius: 0;

      &:before {
        display: none;
      }
    }

    .slick-next {
      transform: rotate(0);
      right: 10vw;

      @include mq(breakpoint('mobile')) {
        right: 8vw;
      }
    }

    .slick-prev {
      transform: rotate(180deg);
      left: 4vw;

      @include mq(breakpoint('mobile')) {
        left: 5vw;
      }
    }
  }
}
