.block__block_content__block_card {
  @extend %auto-padding;
  position: relative;

  &:after {
    @include pseudo();
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $red;
    z-index: -2;

    @include mq(breakpoint('mobile')) {
      height: 80vw;
      bottom: 0;
      top: auto;
      z-index: -1;
    }
  }

  &:before {
    @include pseudo();
    top: 0;
    left: 0;
    background: $white;
    width: 100%;
    height: 20vw;
    z-index: -1;

    @include mq(breakpoint('mobile')) {
      height: 100%;
      z-index: -2;
    }
  }

  .field--name-field-card-content {
    float: left;
    background: $black;
    width: 40%;
    height: 26vw;
    display: inline-block;
    text-align: left;
    padding: 2vw 6vw 2vw 5vw;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include mq(breakpoint('mobile')) {
      float: none;
      width: 100%;
      height: auto;
      padding: 8vw 6vw 6vw 8vw;
    }

    h3,
    h3 strong {
      @extend %subtitle--large;
      line-height: initial;
      margin: auto;

      @include mq(breakpoint('mobile')) {
        margin: 0;
      }
    }

    p {
      color: $white;
      line-height: 20px;

      @include mq(breakpoint('mobile')) {
        margin: 5vw 0;
      }
    }

    strong {
      @extend %text;
      @extend %bold;
      color: $white;
    }
  }

  .field--name-field-card-image {
    height: 26vw;
    width: 60%;
    display: inline-block;

    @include mq(breakpoint('mobile')) {
      height: 36vw;
      width: 100%;
    }

    .media--image,
    .media--image img {
      width: 100%;
      height: 100%;
    }
  }

  .field--name-field-card-action {
    @extend %button--yellow;
    position: absolute;
    right: 17vw;
    bottom: 4vw;
  }
}
