.webform-submission-contact-form {
  background: $black;
  color: $white;
  width: 85%;
  margin: auto;
  padding: 3vw 5vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .form-item {
    @extend %input;
    @extend %label;
    @extend %textarea;
    width: 45%;
    display: inline-block;

    @include mq(breakpoint('mobile')) {
      width: 100%;
    }

    .intl-tel-input {
      width: 100%;
      color: $black;
    }

    &.form-type-textarea {
      width: 100%;
    }
  }

  .webform-button--submit {
    @extend %submit--yellow;
  }

  .form-item-newsletter {
    display: flex;
    height: 30px;

    .description {
      display: inline-block;
      margin: auto 0 auto 10px;

      .webform-element-description {
        @extend %text--tiny;
        font-style: italic;
      }
    }
  }
}
