%input {

  input {
    background-color:  $white;
    color: $gray;
    width: 100%;
    height: 3.05vw;
    padding-left: 1vw;
    border: none;

    @include mq(breakpoint('mobile')) {
      height: 10vw;
      padding-left: 2vw;
    }
  }

  input[type="checkbox"] {
    width: 30px;
    height: 100%;
  }
}

%label {

  label {
    margin-bottom: 20px;
    display: block;
  }
}

%textarea {

  textarea {
    @extend %input;
    min-height: 12vw;
  }
}

%submit {
  @each $color, $theme in $themes {
    $fontcolor: map-get($theme, fontcolor);
    $bgcolor: map-get($theme, bgcolor);
    $arrow: map-get($theme, arrow);

    &--#{$color} {
      @extend %highlight;
      @extend %bold;
      background-color:  $bgcolor;
      color: $fontcolor;
      border: none;
      height: 3.05vw;
      border-radius: 0;

      @include mq(breakpoint('mobile')) {
        height: 10vw;
      }
    }
  }
}
