.block__block_content__hero_banner {
  @extend %header-height-calc;
  padding: 0 40vw 0 padding('left', 'desktop');
  color: $white;
  display: flex;
  flex-flow: column;
  justify-content: center;

  @include mq(breakpoint('mobile')) {
    padding-right: 10vw;
  }

  .field--name-field-hero-image {
    @include mq-variable('top', $header-height);
    @extend %header-height-calc;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: -1;

    .media--blazy {
      height: 100%;

      .media__image {
        height: 100%;
        width: 100%;
        transition: all linear 2s;

        &.b-loaded.zoom {
          transform: scale(1.2);
        }
      }
    }
  }

  .field--name-field-hero-subtitle {
    @extend %highlight;
    @extend %bold;
    margin: 0;
  }

  .field--name-field-hero-title {
    @extend %hero;
    margin: 2.5vw 0;
  }

  .field--name-field-hero-action {
    @extend %button--yellow;
  }
}
