.block__block_content__newsletter {
  @extend %auto-padding;
  @include title-colors($black, $white);
  padding-bottom: 5vw;
  background: $yellow;
  position: relative;
  height: 20vw;
  margin-bottom: 0!important;

  @include mq(breakpoint('mobile')) {
    height: auto;
  }

  .field--name-body {
    width: 30vw;

    @include mq(breakpoint('mobile')) {
      width: 100%;
      margin-bottom: 5vw;
    }
  }

  .field--type-webform {
    position: absolute;
    top: 5vw;
    right: padding('right', 'desktop');

    @include mq(breakpoint('mobile')) {
      position: relative;
      top: auto;
      right: auto;
      display: block;
    }
  }
}
