.block__block_content__block_icon_list {
  @include mq-padding('right');
  @include mq-padding('left');
  @include mq-padding('bottom');
  padding-top: 10vw;

  @include mq(breakpoint('mobile')) {
    padding-top: 22vw;
  }

  h2 {

    &::after {
      color: $red;
    }
  }

  &::after {
    @include pseudo(block, relative);
    clear: both;
  }

  .field--name-body {
    margin-bottom: 5vw;

    p {
      @extend %text;
    }
  }

  .field--name-field-list-icon-action {
    @extend %button--red;
    margin: 2.2vw 0 5vw 0;
    float: right;
  }

  .field--name-field-icon-list-reference {
    display: flex;
    flex-direction: row;

    @include mq(breakpoint('mobile')) {
      flex-direction: column;
    }

    .field__item {
      width: 72%;
      margin: auto;
      text-align: center;

      @include mq(breakpoint('mobile')) {
        width: 100%;
        margin: 2vw auto;
      }

      .field--name-field-item-image {

        img {
          width: 20%;
          height: auto;

          @include mq(breakpoint('mobile')) {
            width: 15%;
          }
        }
      }

      .field--name-field-item-title {
        @extend %text;
        @extend %bold;
      }

      .field--name-field-item-description {
        @extend %text;
      }
    }
  }
}
