.block__block_content__block_image_list{
  @extend %auto-padding;

  @include mq(breakpoint('mobile')) {
    padding-top: 5vw;
  }

  &.block h2 {

    &::after {
      color: $red;
    }
  }

  &::after {
    @include pseudo(block, relative);
    clear: both;
  }

  .field--name-body {
    margin-bottom: 5vw;

    p {
      @extend %text;
    }
  }

  .field--name-field-list-icon-action {
    @extend %button--red;
    margin: 2.2vw 0 5vw 0;
    float: right;
  }

  .field--name-field-image-list-reference {
    position: relative;

    @include mq(breakpoint('mobile')) {
      margin-left: 5vw;
    }

    & > .field__item {
      margin-bottom: 4vw;

      @include mq(breakpoint('mobile')) {
        margin-bottom: 10vw;
      }
    }

    .field__item {

      .field--name-field-item-image {
        width: 7vw;
        margin: 0 2vw;
        display: inline-block;
        float: left;

        @include mq(breakpoint('mobile')) {
          width: 20vw;
          margin-left: 0;
        }

        img {
          width: 100%;
          height: 100%;
        }
      }

      .field--name-field-item-title {
        @extend %text;
        @extend %bold;
        line-height: initial;

        @include mq(breakpoint('mobile')) {
          padding-top: 5vw;
          float: left;
          margin-left: 4vw;
        }
      }

      .field--name-field-item-subtitle {
        @extend %highlight--small;
        line-height: initial;

        @include mq(breakpoint('mobile')) {
          float: left;
          margin-left: 4vw;
          line-height: 5vw;
          width: 60%;
        }
      }

      .field--name-field-item-description {
        @extend %text--tiny;
        line-height: 1.5vw;

        @include mq(breakpoint('mobile')) {
          line-height: 6vw;
          display: block;
          float: none;
          clear: both;
        }
      }
    }
  }
}
