.block__block_content__block_list {
  
  @extend %auto-padding;
  background: $black;
  color: $white;

  @include title-colors($white, $yellow);

  &::after {
    @include pseudo(block, relative);
    clear: both;
  }

  .field--name-body {
    margin-bottom: 5vw;

    p {
      @extend %text;
    }
  }

  .field--name-field-list-icon-action {
    @extend %button--red;
    margin: 2.2vw 0 5vw 0;
    float: right;
  }

  .field--name-field-paragraph-list {

    & > .field__item {
      margin-bottom: 5vw;
    }

    .field__item {

      .field--name-field-item-title {
        @extend %subtitle;
      }

      .field--name-field-item-description {
        @extend %text;
      }
    }
  }
}
