.block-menu {

  .menu {

    @include mq(breakpoint('mobile')) {
      margin: 0;
    }

    .menu-item {
      display: inline-block;
      margin: 0 10px;

      @include mq(breakpoint('mobile')) {
        margin: 0 5px;
        vertical-align: middle;
      }

      a {
        @extend %highlight--tiny;
        color: $white;

        @include mq(breakpoint('mobile')) {
          font-size: 10px;
        }

        @include mq(breakpoint('small')) {
          font-size: 8px;
        }

        &.is-active,
        &:hover {
          @extend %bold;
          color: $yellow;
        }
      }
    }
  }
}
