.webform-submission-newsletter-form {
  display: block;

  .form-item-email {
    @extend %input;
    width: 100%;
    margin: 0;
    display: block;

    @include mq(breakpoint('tablet')) {
      float: right;
      right: 0;
      position: relative;
      width: 80%;
    }

    label {
      @extend %subtitle;
      display: block;
      margin-bottom: 16px;
    }

    .description {
      @extend %text--tiny;
      margin-top: 16px;
    }

    input {
      width: 100%;
    }
  }

  .form-actions {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    height: 100%;
    display: flex;

    .form-submit {
      @extend %submit--black;
      font-family: $metropolis-regular;
      text-transform: none;
      margin: auto 0;
    }
  }
}

#webform_submission_newsletter_page_variant_blog-block_display-0_add_form-ajax {
  padding: 0 padding('right', 'desktop') 0 padding('left', 'desktop');
  background: $red;
  color: $white;
  height: 12vw;
  display: flex;

  @include mq(breakpoint('mobile')) {
    height: auto;
  }

  form {
    margin: auto;
    display: block;
    position: relative;

    .form-item-email {
      display: flex;
      justify-content: space-between;

      @include mq(breakpoint('mobile')) {
        flex-flow: column;
        margin-bottom: 10vw;
      }

      label {
        display: inline-block;
        margin: auto 0;

        @include mq(breakpoint('mobile')) {
          width: 100%;
          display: block;
          margin: 5vw 0;
          text-align: center;
        }
      }

      input {
        display: inline-block;
        width: 50%;

        @include mq(breakpoint('mobile')) {
          width: 100%;
          display: block;
        }
      }

      .description {
        display: none;
      }
    }

    .form-actions {

      @include mq(breakpoint('mobile')) {
        height: auto;
        bottom: 10vw;
        top: auto;
      }

      .form-submit {
        @include mq(breakpoint('mobile')) {
          margin: 0;
        }
      }
    }
  }
}
