%search {
  @extend %input;

  label {
    display: none;
  }

  input {
    @extend %font-size--small;
    padding-left: 3.5vw;
    font-style: italic;
  }
}

%search--submit {
  @extend %input;

  input {
    @include image('search-icon.png');
    height: 2.8vw;
    width: 3vw;
    margin: 2px;
    display: block;
    padding: 0;
    font-size: 0;
    background-position: center;
    background-size: 40%; 

    @include mq(breakpoint('mobile')) {
      margin: 0 9px;
      background-size: contain;
    }
  }
}
