.slick {

  .slick-slider {

    .slick-list {

      .slick-track {

        .slick__slide {
          position: relative;
        }
      }
    }
  }
  
  .slick__arrow {
    overflow: initial;
  }
}
