.block-social-media-links {
  @include mq(breakpoint('mobile')) {
    margin: 3vw auto 0;
  }

  h2 {
    @extend %text--small;
    @extend %bold;
    display: inline-block;
    color: $white;
    text-transform: uppercase;
    margin-right: 20px;
  }

  ul {

    li {

      a span {
        font-size: 1.5em;
      }
    }
  }
}
