@function breakpoint($key) {
  @if map-has-key($breakpoints, $key) {
    @return map-get($breakpoints, $key);
  }

  @warn "Unknown `#{$key}` in $breakpoints.";
  @return null;
}

@function z($key) {
  @if map-has-key($z-layers, $key) {
    @return map-get($z-layers, $key);
  }

  @warn "Unknown `#{$key}` in $z-layers.";
  @return null;
}

@function header($key) {
  @if map-has-key($header-height, $key) {
    @return map-get($header-height, $key);
  }

  @warn "Unknown `#{$key}` in $header-height.";
  @return null;
}

@function padding($pos, $mq) {
  $position: map-get($auto-padding, $pos);

  @if map-has-key($position, $mq) {
    @return map-get($position, $mq);
  }

  @warn "Unknown `#{$mq}` in $position.";
  @return null;
}
