/* Typography */
%font-size {
  @each $mq, $font in $fonts {
    &--#{$mq} {
      @each $breakpoint, $value in $breakpoints {
        @include mq(breakpoint(#{$breakpoint})) {
          font-size: map-get($font, #{$breakpoint});
        }
      }
    }
  }
}

%bold {
  font-family: $metropolis-bold;
}

/* Layout */
%header-height-calc {

  @each $breakpoint, $mq in $breakpoints {
    @include mq(breakpoint(#{$breakpoint})) {
      $height: map-get($header-height, #{$breakpoint});
      height: calc(100vh - #{$height});
    }
  }
}


%auto-padding {
  @each $pad-pos, $breakpoints in $auto-padding {
      @include mq-padding(#{$pad-pos});
  }
}
