@mixin pseudo($display: block, $pos: absolute, $content: ''){
    content: $content;
    display: $display;
    position: $pos;
}

@mixin image($img) {
  background-image: url('../../assets/img/#{$img}');
  background-repeat: no-repeat;
}

@mixin icon($img, $position: relative) {
  &::after {
    @include pseudo(block, $position);
    background-image: url('../../assets/img/#{$img}');
    background-repeat: no-repeat;
    @content;
  }
}

@mixin webkit($propriety, $value) {
    #{$propriety}:#{$value};
    #{$propriety}:-moz-#{$value};
    #{$propriety}:-ms-input-#{$value};
    #{$propriety}:-webkit-input-#{$value};
}

@mixin mq($breakpoint) {
  @media only screen and #{$breakpoint} {
    @content;
  }
}

@mixin mq-variable($propriety, $variable) {
  @each $breakpoint, $value in $variable {

    @include mq(breakpoint(#{$breakpoint})) {
      #{$propriety}: #{$value};
    }
  }
}

@mixin mq-padding($position) {
  $pad-pos: map-get($auto-padding, $position);

  @each $breakpoint, $value in $pad-pos {

    @include mq(breakpoint(#{$breakpoint})) {
      padding-#{$position}: #{$value};
    }
  }
}

@mixin theme() {
  @each $color, $theme in $themes {
    $fontcolor: map-get($theme, fontcolor);
    $bgcolor: map-get($theme, bgcolor);

    &--#{$color} {
      background-color: $bgcolor;
      color: $fontcolor;
      @content;
    }
  }
}

@mixin border($pseudo:after, $border:bottom) {

  &:#{$pseudo} {
    @include pseudo(block, relative);
    color: $red;
    border-#{$border}: .25vw solid;
    width: 25%;
    margin-top: 2vw;

    @include mq(breakpoint('mobile')) {
      border-bottom: 3px solid;
      margin-top: 5vw;
    }
  }
}

@mixin title-colors($text-color: $black, $border-color: $red) {

  h2 {
    color: $text-color !important;
    &:after {
      border-color: $border-color !important;
    }
  }
}
