$black: #000000;
$yellow: #FFD200;
$red: #A71B10;
$white: #FFFFFF;
$ice-white: #F8F6F6;
$light-gray: #DBDBDB;
$gray: #343434;

/* Update Bulma's global variables */
$grey-dark: $gray;
$grey-light: $light-gray;
$primary: $yellow;
$secondary: $red;
$link: $ice-white;
$body-background-color: $ice-white;

$themes: (
    "yellow": (
      "fontcolor": $black,
      "bgcolor": $yellow,
      "arrow": "black"
    ),
    "red": (
      "fontcolor": $white,
      "bgcolor": $red,
      "arrow": "white"
    ),
    "black": (
      "fontcolor": $white,
      "bgcolor": $black,
      "arrow": "white"
    )
);
