$cocogoose: 'Cocogoose Pro Semilight-trial';
$metropolis-regular: 'Metropolis-Regular';
$metropolis-bold: 'Metropolis-SemiBold';
$metropolis-light: 'Metropolis-Light';
$family-sans-serif: $metropolis-regular, sans-serif;

@include font-face(
  $cocogoose,
  "../../assets/fonts/Cocogoose/Cocogoose Pro Semilight-trial",
  ("ttf")
);

@include font-face(
  $metropolis-light,
  "../../assets/fonts/Metropolis/Metropolis-Light/Metropolis-Light",
  ("eot", "otf", "ttf", "woff", "woff2")
);

@include font-face(
  $metropolis-regular,
  "../../assets/fonts/Metropolis/Metropolis-Regular/Metropolis-Regular",
  ("eot", "otf", "ttf", "woff", "woff2")
);

@include font-face(
  $metropolis-bold,
  "../../assets/fonts/Metropolis/Metropolis-SemiBold/Metropolis-SemiBold",
  ("eot", "otf", "ttf", "woff", "woff2")
);

$fonts: (
    "hero": (
      "desktop": 4.2vw,
      "tablet": 6vw,
      "mobile": 11vw
    ),
    "wide": (
      "desktop": 2.8vw,
      "tablet": 4.8vw,
      "mobile": 5.8vw
    ),
    "extra-large": (
      "desktop": 1.6vw,
      "tablet": 3.6vw,
      "mobile": 4.6vw
    ),
    "larger": (
      "desktop": 1.2vw,
      "tablet": 3.2vw,
      "mobile": 4.2vw
    ),
    "large": (
      "desktop": 1.05vw,
      "tablet": 3.05vw,
      "mobile": 4.05vw
    ),
    "medium": (
      "desktop": .95vw,
      "tablet": 3vw,
      "mobile": 3.5vw
    ),
    "small": (
      "desktop": 0.85vw,
      "tablet": 2.5vw,
      "mobile": 3vw
    ),
    "tiny": (
      "desktop": .73vw,
      "tablet": 2vw,
      "mobile": 2.9vw
    )
);
