$grid-visual-color: rgba(0,212,255,.0);

$neat-grid: (
  columns: 6,
  gutter: 20px,
  media: breakpoints('mobile')
);

$neat-grid-tablet: (
  columns: 12,
  gutter: 18px,
  media: breakpoints('tablet')
);

$neat-grid-desktop: (
  columns: 24,
  gutter: 16px,
  media: breakpoints('desktop')
);
