/* Layout */
$max-width: 1220px;
$padding-right: 11.4vw;
$padding-left: 13.3vw;

/* Z-Index */
$z-layers: (
  "max": 9999,
  "min": -9999,
  "default": 1,
  "above": -1,
  "overlay": 2,
  "modal": 3,
);

/* Media Query */
$breakpoints: (
  "small":    '( max-width: 320px  )',
  "mobile":   '( max-width: 1024px )',
  "tablet":   '( min-width: 1024px ) and ( max-width: 1277px  )',
  "desktop":  '( min-width: 1277px ) and ( max-width: 1920px )',
  "fullhd":   '( min-width: 1920px )'
);

$header-height: (
  "mobile": 15vw,
  "tablet": 7vw,
  "desktop": 5vw,
  "fullhd": 5vw
);

$auto-padding: (
    "top": (
      "desktop": 5vw,
      "tablet": 10vw,
      "mobile": 20vw
    ),
    "right": (
      "desktop": 10vw,
      "tablet": 11.4vw,
      "mobile": 11.4vw
    ),
    "bottom": (
      "desktop": 5vw,
      "tablet": 10vw,
      "mobile": 12vw
    ),
    "left": (
      "desktop": 10vw,
      "tablet": 13.3vw,
      "mobile": 13.3vw
    )
);

/* Bulma Override variables */
$widescreen-enabled: false;
$fullhd-enabled: false;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
