footer {

  .region-footer {
    width: 100vw;
    background: $black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw padding('right', 'desktop') 1vw padding('left', 'desktop');
    margin-top: 0;

    @include mq(breakpoint('mobile')) {
      flex-wrap: wrap;
      padding: 3vw 5vw 4vw 18px;
    }

    .block-system-branding-block {
      @include mq(breakpoint('mobile')) {
        display: none;
      }
    }

    .menu--footer {
      margin-bottom: 0;

      @include mq(breakpoint('mobile')) {
        margin: auto;
      }

      .menu-item {

        a {
          color: $light-gray;
        }
      }
    }
  }
}
