.region-header {
  @include mq-variable(height, $header-height)
  width: 100vw;
  background: $black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 padding('right', 'desktop') 0 padding('left', 'desktop');
  position: fixed;
  top: 0;
  z-index: 3;

  @include mq(breakpoint('mobile')) {
    padding: 2vw 5vw 2vw 5vw;
    flex-wrap: wrap;
    height: auto;
  }

  .block-system-breadcrumb-block {
    display: none;
  }
}
