body {
  @include grid-visual($grid-visual-color);
  @extend %text;
  color: $black;

  @include tablet {
    @include grid-visual($grid-visual-color, $neat-grid-tablet);
  }

  @include desktop {
    @include grid-visual($grid-visual-color, $neat-grid-desktop);
  }
}

@include mq(breakpoint('mobile')) {
  * {
    overflow-x: hidden;
  }
}

input,
textarea {
  color: $gray;
}

a {
  &:hover {
    @extend %bold;
    color: $yellow;
  }
}
