/* Títulos */
%hero {
  @extend %font-size--hero;
  font-family: $cocogoose;
  color: $white;
  line-height: initial;
}

%title {
  @extend %font-size--wide;
  font-family: $metropolis-bold;
  color: $black;
  display: block;
  margin: 0.5vw 0 2vw;
  line-height: initial;

  @include mq(breakpoint('mobile')) {
    margin: 0.5vw 0 5vw;
  }

  &--light {
    @extend %title;
    font-family: $metropolis-regular;
  }

  &--traced {
    @include webkit(width, fit-content);
    @include border;
    @extend %title;
  }
}

/* Subtítulos */
%subtitle {
  @extend %font-size--extra-large;
  font-family: $metropolis-bold;

  &--large {
    font-size: 2vw;

    @include mq(breakpoint('mobile')) {
      font-size: 5vw;
    }
  }
}

%highlight {
  @extend %font-size--medium;
  font-family: $metropolis-regular;
  text-transform: uppercase;
  letter-spacing: 2pt;

  &--small {
    @extend %highlight;
    @extend %font-size--small;
  }

  &--tiny {
    @extend %highlight;
    @extend %font-size--tiny;
  }
}

/* Textos */
%text {
  @extend %font-size--large;
  font-family: $metropolis-regular;
  line-height: 35px;

  &--medium {
    @extend %text;
    @extend %font-size--medium;
  }

  &--small {
    @extend %text;
    @extend %font-size--small;
  }

  &--tiny {
    @extend %text;
    @extend %font-size--tiny;
  }
}
